# pyenv files
.python_version

# python interpreted files
**/*.pyc

# notebooks checkpoints
**/*.ipynb_checkpoints

# logs from the model
detr/logs/*

# local file for diverse code planning details
planning.md

# data
data/*

# vim
.vim



